.bg-udem{
    background-color:#BA0F16;
}

li:hover{
    background: rgb(25, 255, 255);
}
body{
        background-color: #BA0F16;
}


.nav-link{
    font-size: 25px;
    font-style: italic;
}

.video{
    margin-top: 250px;
}

